.App {
  text-align: center;
   z-index: 1;
}

.App-logo {
  height: vmin;
  pointer-events: none;
 
  
  
}


  .h1header {
    position: relative;
   
    z-index: 1;
  }

  .myform{
     position: relative;
   
    z-index: 1;
  }


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
   

    
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  
  }
  to {
    transform: rotate(50deg);
  }
} */

@keyframes App-logo-spin {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s ease-in-out;
  }
}
